<div class="card-new-form">
  <div class="card-body">
    <h2>Log in</h2>
    <hr/>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row mb-3">
        <div class="col-md-6">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="col-md-6">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>
      <% if devise_mapping.rememberable? -%>
          <div class="field mb-3">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-success" %>
        <%= link_to "Sign Up!", new_user_registration_path, id: "signIn", class: "btn btn-primary"%>
      </div>
    <% end %>
  </div>
</div>
