<!DOCTYPE html>
<html>
  <head>
    <title>Gov</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js', 'application',  'data-turbolinks-track': 'reload' %>
  </head>

  <body class="background-default">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |key, value| %>
            <div id="alert" class="<%= flash_class(key)  %> mt-3 mr-4" role="alert">
              <%= value %>
            </div>
          <% end %>
          <%= yield %>
        </div> 
      </div>
      <%= link_to "Sign Up!", new_user_registration_path, id: "signUp", class: "button-new"%>
      <%= link_to "Sign In!", new_user_session_path, id: "signIn", class: "button-new"%>
      <%= link_to "Logout!", destroy_user_session_path, method: :delete,  id: "logout",  class: "button-new"%>
    </div>
    <script type="application/javascript">
        document.addEventListener("DOMContentLoaded", function () {
           const alert = document.querySelector('#alert');
           console.log(alert);
           if(alert !== null){
             TweenMax.to(alert, 1, {width: 1000});
           }
        });
    </script>
  </body>
</html>
